body{
  background-color: aliceblue;
  margin: 0;
  padding: 0;
}
.App{
  height: 100%;
  margin: 0;
}
.MoveisPage{
  height: 100%;
  margin: 0;
}
header{
  display: flex;
  justify-content: space-between;
  background-color: orange;
  padding:4px 12px 0 12px;
  margin: 0 0 24px 0;
}
header>p{
  margin: 8px 0;
  width: 20vw;
  color: aliceblue;
  text-align: center;
  font-size: 2.4em;
  padding: 0;
}
nav#navBar{
  padding-bottom: 12px;
}
ul{
  display: flex;
  justify-content: right;
  list-style: none;
}

#footer{
  color: aliceblue;
  font-family: sans-serif;
  font-weight: bolder;
  text-align: center;
  bottom: 0;
  width: 100%;
  background-color: orange;
  height: 80px;
}
#burguer{
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  cursor: pointer;
  background-color: orange;
  width: 72px;
}
#burguer:hover{
  background-color: rgb(204, 137, 11);
}
#burguer>img{
  width: 100%;
  height: 100%;
}
header a{
  position: relative;
  transition: 200ms;
  padding: 8px;
  color: aliceblue;
  margin: 0 12px 0 12px;
  text-decoration: none;
  font-size: 28px;
  font-family: sans-serif;
  font-weight: bold;
  letter-spacing: 0.4px;
}
a:hover{
  background-color: rgb(204, 137, 11);
}
#productSpace{
  align-content: center;
  display: flex;
  flex-wrap:wrap;
  margin: auto auto 24px auto;
  width:100%;
  max-width: 1280px;
  height:fit-content;
  background-color: rgb(235, 235, 235);
  box-shadow: 3px 3px 12px 12px rgb(218, 218, 218);
}
.productB{
  text-align: center;
  width: 240px;
  height: 240px;
  margin:24px auto;
  border-radius: 50%;
  background-color: aliceblue;
}
.productB:last-child{
  margin-right: 0;
}
.productB>img{
  transition: 200ms;
  cursor: pointer;
  width: 100%;
  height: 100%;
  clip-path: circle();
}
.productB>img:hover{
  width: 250px;
  height: 250px;
}
.productB>p{
  margin: auto;
  font-size: 2em;
  font-family: sans-serif;
  letter-spacing: 0.4px;
  font-weight: bolder;
}
#carrossel{
  margin: 56px auto;
  position: relative;
  width:920px;
  cursor:pointer;
}
#carrossel>img{
  width: 100%;
}